{
  "parser": "@typescript-eslint/parser",
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ]
}